% -*- Erlang -*-
%% vim: ts=4 sw=4 et ft=erlang

{deps, [
	{mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "HEAD"}},
    {pmod_transform, ".*", {git, "git://github.com/choptastic/pmod_transform.git", "HEAD"}},
    {cowboy, "0.6.*", {git, "git://github.com/extend/cowboy",{tag, "0.6.0"}}},
    {nitrogen_core, ".*", {git, "git://github.com/nitrogen/nitrogen_core.git", "HEAD"}},
    {nprocreg,      ".*", {git, "git://github.com/nitrogen/nprocreg", "HEAD"}}
]}.

{erl_opts, [fail_on_warning, debug_info]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
